.hero {
  height: 100vh;
  background-image: linear-gradient(rgba(#000, 0.4), rgba(#000, 0.4)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;

  @include respond(phone) {
    padding: 0 3.2rem;
  }

  &__heading {
    font-size: 7.4rem;
    font-weight: 700;
    color: #fff;
    animation: appear-from-below 1s;

    @include respond(laptop-big) {
      font-size: 6.2rem;
    }

    @include respond(laptop-small) {
      font-size: 5.2rem;
    }

    @include respond(tablet-small) {
      text-align: center;
      font-size: 4.4rem;
    }
  }

  &__text {
    font-size: 2.4rem;
    color: #fff;
    animation: appear-from-left 1s;

    @include respond(laptop-big) {
      font-size: 2rem;
    }

    @include respond(laptop-small) {
      font-size: 1.8rem;
    }

    @include respond(tablet-small) {
      text-align: center;
      font-size: 1.6rem;
    }
  }
}
