*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  color: $color-secondary;
  position: relative;
  background-color: $color-grey-light--3;
  overflow-x: hidden;
}

body > * {
  width: 100vw;
}

body.popup-show {
  overflow: hidden;
}
