$color-primary: #f5eb70;
$color-secondary: #212529;

$color-facebook: #1c7ed6;
$color-instagram: linear-gradient(to right bottom, #f783ac, #da77f2);
$color-codepen: #f0eeee;
$color-github: #4c6ef5;

$color-css: #2862ea;
$color-html: #ea6228;
$color-typescript: #2f75c0;
$color-javascript: #f0d91c;
$color-node-js: #87bf00;
$color-bootstrap: #8b0bfc;
$color-tailwindcss: #3fb8f1;
$color-react-router: #ca021a;
$color-redux: #7348b6;
$color-mongodb: #4ca53f;
$color-api: #fa5252;
$color-sass: #c86496;
$color-react: #5ed4f4;
$color-python: #4280b3;
$color-styled-components: #f3c73d;

$color-white: #fff;

$color-grey-light--1: #faf9f9;
$color-grey-light--2: #f4f2f2;
$color-grey-light--3: #f0eeee;
$color-grey-light--4: #ccc;

$color-grey-dark--1: #333;
$color-grey-dark--2: #777;
$color-grey-dark--3: #999;

$font-heading: "Lato", sans-serif;
$font-display: "Manrope", sans-serif;
