$color-primary: #f5eb70;
$color-secondary: #212529;

$color-facebook: #1c7ed6;
$color-instagram: linear-gradient(to right bottom, #f783ac, #da77f2);
$color-codepen: #f0eeee;
$color-github: #4c6ef5;

$color-white: #fff;

$color-grey-light--1: #faf9f9;
$color-grey-light--2: #f4f2f2;
$color-grey-light--3: #f0eeee;
$color-grey-light--4: #ccc;

$color-grey-dark--1: #333;
$color-grey-dark--2: #777;
$color-grey-dark--3: #999;

$font-heading: 'Lato', sans-serif;
$font-display: 'Manrope', sans-serif;
